# Printing

In [1]:
print("hello world")
print('hello world')

hello world
hello world

# Variables

In [2]:
a = 10
b = 20
print(a + b)
type(a) # to show which type of data is stored in it.

30

int

# comments

In [3]:
# single line comments
'''
    multiline comments
'''
"""
    multiline comments
"""

'\n    multiline comments\n'

# Python numbers

In [4]:
a = 10  #integers
b = 5.4 #floating point numbers
c =  5 + 6j #complex nos
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

In [5]:
id(a) #shows the address of a

1761278558736

# Arithmetic operators

In [6]:
a = 10
b = 4
print(a+b)  #add
print(a-b)  #sub
print(a*b)  #mul
print(a/b)  #floating point division
print(a//b) #integer division (if we do not want decimal value)
print(a%b)  #modulus
print(a**b) #exponentiation

14
6
40
2.5
2
2
10000

In [7]:
# simple interest
p = 100
r = 12
t = 2
si = p * r * t / 100 
print(si)

24.0

In [8]:
# fah to cel conversion
f = 100
c = (f-32) * 5/9
c

37.77777777777778

# Taking input

In [10]:
a = int(input())
b = int(input())
c = a + b
print(c)

5

In [ ]:
# average student marks
a = 10
b = 20
c = 30
avg = (a + b + c)/3
avg

20.0

# Boolean type

In [ ]:
a = True
b = False
print(type(a))
print(a)
print(b)

<class 'bool'>
True
False

# Relational operators

In [ ]:
a = 10
b = 20
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)
print(a == b)
print(a != b)

False
True
False
True
False
True

# Logical operators

In [ ]:
a = 50
b = 60
r1 = a > 10 and b > 10
r2 = a > 10 or b > 10
r3 = not(a > 10)
print(r1)
print(r2)
print(r3)

True
True
False

# IF ELSE

In [ ]:
a = True
if a:
    print("Inside if")
else:
    print("Inside else")

Inside if

In [ ]:
# check if no is odd or even
a = int(input())
if a % 2 == 0:
    print("Even")
else:
    print("Odd")

8
Even

# IF ELIF ELSE

In [ ]:
a = int(input())
b = int(input())
c = int(input())
if a >= b and a >= c:
    print(a)
elif b > a and b > c:
    print(b)
else:
    print(c)

6
5
4
6

In [ ]:
# positive or negative no
a = int(input())
if a > 0:
    print("+ve")
elif a < 0:
    print("-ve")
else:
    print("zero")

7
+ve

# while loop

In [ ]:
# sum of n natural nos
n = int(input())
count = 1
while count <= n:
    print(count)
    count += 1

6
1
2
3
4
5
6

In [ ]:
# sum of even nos
n = int(input())
count = 2
sum = 0
while count <= n:
    if count%2 == 0:
        sum += count
    count += 1
print(sum)

8
20

# Printing in 1 line

In [ ]:
n = int(input())
i = 1
while i <= n:
    j = 1
    while j <=n:
        print('*',end='')
        j+=1
    print()
    i+=1

6
******
******
******
******
******
******

# For loop

In [ ]:
n = int(input())
for i in range(0,n):
    print(i)

5
0
1
2
3
4

# break statement

In [ ]:
n = int(input())
for i in range(0,n):
    if i == 5:
        break
    print(i)

7
0
1
2
3
4

# ElseForLoop

In [ ]:
n = int(input())
for i in range(0,n):
    print(i)
else:
    print("Only once this line will be executed")

6
0
1
2
3
4
5
Only once this line will be executed

# continue statement

In [ ]:
n = int(input())
for i in range(0,n):
    if i == 5:
        continue
    print(i)

7
0
1
2
3
4
6

# pass statement

In [ ]:
i = 2
while i < 7:
    pass
    i+=1
print('hey')

# Strings

In [ ]:
# strings in python are immutable
a = "abc def"
b = 'abc def'
type(a)
type(b)
for i in a:
    print(i)

In [ ]:
a = "Hey my name is "
b = "pranav"
a + b
a == b
a.split()
a.replace("Hey","Hi")
a.find("my")
a.lower()
a.upper()
a.islower()
a.isupper()
a.isalpha()
a.startswith("Hey")
len(a)